@charset "UTF-8";
@font-face { font-family: 'custom_icon_font'; src: url("../fonts/icons/custom_icon_font.eot?5la5ri"); src: url("../fonts/icons/custom_icon_font.eot?5la5ri#iefix") format("embedded-opentype"), url("../fonts/icons/custom_icon_font.ttf?5la5ri") format("truetype"), url("../fonts/icons/custom_icon_font.woff?5la5ri") format("woff"), url("../fonts/icons/custom_icon_font.svg?5la5ri#custom_icon_font") format("svg"); font-weight: normal; font-style: normal; }

.ico { /* use !important to prevent issues with browser extensions that change fonts */ font-family: 'custom_icon_font' !important; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; /* Better Font Rendering =========== */ -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon-telegram-plane-brands:before { content: ""; }

.icon-accept_1:before { content: ""; }

.icon-accept_cr:before { content: ""; }

.icon-accept_sq:before { content: ""; }

.icon-add_sq:before { content: ""; }

.icon-add_sq-1:before { content: ""; }

.icon-aim_1:before { content: ""; }

.icon-aim_2:before { content: ""; }

.icon-align_1:before { content: ""; }

.icon-align_2:before { content: ""; }

.icon-arange_1:before { content: ""; }

.icon-arange_2:before { content: ""; }

.icon-arrow_90_degree:before { content: ""; }

.icon-arrow_back_1:before { content: ""; }

.icon-arrow_cr:before { content: ""; }

.icon-arrow_simple_1:before { content: ""; }

.icon-arrow_simple_2:before { content: ""; }

.icon-arrow_simple_3:before { content: ""; }

.icon-arrow_simple_chock:before { content: ""; }

.icon-arrow_simple_d:before { content: ""; }

.icon-arrow_simple_u:before { content: ""; }

.icon-arrow_sq:before { content: ""; }

.icon-arrows_down_up:before { content: ""; }

.icon-back:before { content: ""; }

.icon-bag_1:before { content: ""; }

.icon-bag_2:before { content: ""; }

.icon-bag_3:before { content: ""; }

.icon-bag_3_open:before { content: ""; }

.icon-bag_4:before { content: ""; }

.icon-baggage:before { content: ""; }

.icon-battery_1_1:before { content: ""; }

.icon-battery_1_2:before { content: ""; }

.icon-battery_1_3:before { content: ""; }

.icon-battery_1_4:before { content: ""; }

.icon-battery_1_5:before { content: ""; }

.icon-battery_2_1:before { content: ""; }

.icon-battery_2_2:before { content: ""; }

.icon-battery_2_3:before { content: ""; }

.icon-battery_2_4:before { content: ""; }

.icon-battery_2_5:before { content: ""; }

.icon-bike:before { content: ""; }

.icon-bluetooth:before { content: ""; }

.icon-book_1:before { content: ""; }

.icon-book_1_add:before { content: ""; }

.icon-book_1_minus:before { content: ""; }

.icon-book_2:before { content: ""; }

.icon-book_3:before { content: ""; }

.icon-book_4:before { content: ""; }

.icon-box:before { content: ""; }

.icon-box_2:before { content: ""; }

.icon-box_3:before { content: ""; }

.icon-bus:before { content: ""; }

.icon-cable_1:before { content: ""; }

.icon-cable_2:before { content: ""; }

.icon-calendar:before { content: ""; }

.icon-calendar_add:before { content: ""; }

.icon-calendar_minus:before { content: ""; }

.icon-cam_1:before { content: ""; }

.icon-cam_2_1:before { content: ""; }

.icon-cam_2_2:before { content: ""; }

.icon-cam_2_2_no:before { content: ""; }

.icon-cam_3:before { content: ""; }

.icon-cam_4:before { content: ""; }

.icon-caps_1_1:before { content: ""; }

.icon-caps_1_2:before { content: ""; }

.icon-caps_2_1:before { content: ""; }

.icon-caps_2_2:before { content: ""; }

.icon-caps_3_1:before { content: ""; }

.icon-caps_3_2:before { content: ""; }

.icon-caps_4_1:before { content: ""; }

.icon-caps_4_2:before { content: ""; }

.icon-caps_back:before { content: ""; }

.icon-car_1:before { content: ""; }

.icon-car_2:before { content: ""; }

.icon-card_1:before { content: ""; }

.icon-card_1_add:before { content: ""; }

.icon-card_1_exp:before { content: ""; }

.icon-card_1_minus:before { content: ""; }

.icon-card_clubs:before { content: ""; }

.icon-card_hearts:before { content: ""; }

.icon-card_pikes:before { content: ""; }

.icon-card_tiles:before { content: ""; }

.icon-cart_1:before { content: ""; }

.icon-cart_2:before { content: ""; }

.icon-cart_3:before { content: ""; }

.icon-chair_1:before { content: ""; }

.icon-chair_2:before { content: ""; }

.icon-cherry:before { content: ""; }

.icon-cloud_1:before { content: ""; }

.icon-cloud_2:before { content: ""; }

.icon-cloud_down:before { content: ""; }

.icon-cloud_up:before { content: ""; }

.icon-clubs:before { content: ""; }

.icon-code_sq:before { content: ""; }

.icon-compas_1:before { content: ""; }

.icon-compas_2:before { content: ""; }

.icon-connection_1:before { content: ""; }

.icon-connection_2:before { content: ""; }

.icon-copy_1:before { content: ""; }

.icon-copy_2:before { content: ""; }

.icon-copy_3:before { content: ""; }

.icon-copy_4:before { content: ""; }

.icon-crop_1:before { content: ""; }

.icon-crop_1-1:before { content: ""; }

.icon-cs:before { content: ""; }

.icon-cut:before { content: ""; }

.icon-data_1:before { content: ""; }

.icon-data_2:before { content: ""; }

.icon-data_3:before { content: ""; }

.icon-data_4:before { content: ""; }

.icon-data_line:before { content: ""; }

.icon-data_lines:before { content: ""; }

.icon-delete_1:before { content: ""; }

.icon-delete_2:before { content: ""; }

.icon-delete_3:before { content: ""; }

.icon-delete_4:before { content: ""; }

.icon-diamond_1:before { content: ""; }

.icon-diamond_2:before { content: ""; }

.icon-diamond_3:before { content: ""; }

.icon-dice_1:before { content: ""; }

.icon-dice_2:before { content: ""; }

.icon-dice_3:before { content: ""; }

.icon-dice_4:before { content: ""; }

.icon-dice_5:before { content: ""; }

.icon-dice_6:before { content: ""; }

.icon-door_1:before { content: ""; }

.icon-door_2:before { content: ""; }

.icon-down_cr:before { content: ""; }

.icon-down_sq:before { content: ""; }

.icon-download_1:before { content: ""; }

.icon-electro_1:before { content: ""; }

.icon-electro_2:before { content: ""; }

.icon-electro_2_no:before { content: ""; }

.icon-exclamation_cr:before { content: ""; }

.icon-exclamation_tr:before { content: ""; }

.icon-eye_1:before { content: ""; }

.icon-eye_2:before { content: ""; }

.icon-eye_2_no:before { content: ""; }

.icon-fan:before { content: ""; }

.icon-fix_1:before { content: ""; }

.icon-fix_2:before { content: ""; }

.icon-flag_1:before { content: ""; }

.icon-flag_2:before { content: ""; }

.icon-flag_3:before { content: ""; }

.icon-flag_4:before { content: ""; }

.icon-flat_1:before { content: ""; }

.icon-flat_1_exp:before { content: ""; }

.icon-flat_1_love:before { content: ""; }

.icon-flat_1_minus:before { content: ""; }

.icon-flat_1_plus:before { content: ""; }

.icon-flat_1_star:before { content: ""; }

.icon-flat_2_love:before { content: ""; }

.icon-flat_2_minus:before { content: ""; }

.icon-flat_2_plus:before { content: ""; }

.icon-flat_2_star:before { content: ""; }

.icon-flower:before { content: ""; }

.icon-folder_1:before { content: ""; }

.icon-folder_2:before { content: ""; }

.icon-folder_3:before { content: ""; }

.icon-folder_4:before { content: ""; }

.icon-folder_5:before { content: ""; }

.icon-folders:before { content: ""; }

.icon-gamble_chck:before { content: ""; }

.icon-gamble_roll:before { content: ""; }

.icon-game_pad_non_wire:before { content: ""; }

.icon-game_pad_wire:before { content: ""; }

.icon-gear_1:before { content: ""; }

.icon-gear_2:before { content: ""; }

.icon-gear_3:before { content: ""; }

.icon-gear_4:before { content: ""; }

.icon-gift_1:before { content: ""; }

.icon-gift_2:before { content: ""; }

.icon-gpu_1:before { content: ""; }

.icon-gpu_cr:before { content: ""; }

.icon-hash_1:before { content: ""; }

.icon-hash_2:before { content: ""; }

.icon-headphones_1:before { content: ""; }

.icon-headphones_2:before { content: ""; }

.icon-headphones_3:before { content: ""; }

.icon-hearts:before { content: ""; }

.icon-help_1:before { content: ""; }

.icon-home_1_1:before { content: ""; }

.icon-home_1_2:before { content: ""; }

.icon-home_2_1:before { content: ""; }

.icon-home_2_2:before { content: ""; }

.icon-home_3_1:before { content: ""; }

.icon-home_3_2:before { content: ""; }

.icon-home_4_1:before { content: ""; }

.icon-home_4_2:before { content: ""; }

.icon-horse:before { content: ""; }

.icon-icecream:before { content: ""; }

.icon-ico_-04:before { content: ""; }

.icon-ico_-377:before { content: ""; }

.icon-ico_-403:before { content: ""; }

.icon-info_cr:before { content: ""; }

.icon-invert:before { content: ""; }

.icon-key_1:before { content: ""; }

.icon-key_2:before { content: ""; }

.icon-label:before { content: ""; }

.icon-label_add:before { content: ""; }

.icon-label_minus:before { content: ""; }

.icon-laptop:before { content: ""; }

.icon-layers_1:before { content: ""; }

.icon-layers_2:before { content: ""; }

.icon-layers_3:before { content: ""; }

.icon-location_1:before { content: ""; }

.icon-location_1_add:before { content: ""; }

.icon-location_1_minus:before { content: ""; }

.icon-location_2:before { content: ""; }

.icon-location_3_minus:before { content: ""; }

.icon-location_3_plus:before { content: ""; }

.icon-location_3_profile:before { content: ""; }

.icon-location_4:before { content: ""; }

.icon-lock_1:before { content: ""; }

.icon-lock_1_add:before { content: ""; }

.icon-lock_1_exp:before { content: ""; }

.icon-lock_1_minus:before { content: ""; }

.icon-lock_1-1:before { content: ""; }

.icon-lock_2:before { content: ""; }

.icon-love_1:before { content: ""; }

.icon-love_1_half:before { content: ""; }

.icon-love_1_no:before { content: ""; }

.icon-lucky_7:before { content: ""; }

.icon-magnet:before { content: ""; }

.icon-mail_1:before { content: ""; }

.icon-mail_1_empty:before { content: ""; }

.icon-mail_2:before { content: ""; }

.icon-mail_2_empty:before { content: ""; }

.icon-mail_tag:before { content: ""; }

.icon-map:before { content: ""; }

.icon-map_add:before { content: ""; }

.icon-map_minus:before { content: ""; }

.icon-math_1:before { content: ""; }

.icon-math_2:before { content: ""; }

.icon-math_3:before { content: ""; }

.icon-memo:before { content: ""; }

.icon-menu_1:before { content: ""; }

.icon-menu_2:before { content: ""; }

.icon-menu_3:before { content: ""; }

.icon-message_1:before { content: ""; }

.icon-message_1_accept:before { content: ""; }

.icon-message_1_dots:before { content: ""; }

.icon-message_1_exp:before { content: ""; }

.icon-message_1_question:before { content: ""; }

.icon-message_1-1:before { content: ""; }

.icon-message_2:before { content: ""; }

.icon-message_2_accept:before { content: ""; }

.icon-message_2_add:before { content: ""; }

.icon-message_2_dots:before { content: ""; }

.icon-message_2_exp:before { content: ""; }

.icon-message_2_exp-1:before { content: ""; }

.icon-message_2_minus:before { content: ""; }

.icon-message_2_question:before { content: ""; }

.icon-message_2-1:before { content: ""; }

.icon-message_3:before { content: ""; }

.icon-message_3_accept:before { content: ""; }

.icon-message_3_dots:before { content: ""; }

.icon-message_3_exp:before { content: ""; }

.icon-message_3_question:before { content: ""; }

.icon-message_3-1:before { content: ""; }

.icon-message_open_1:before { content: ""; }

.icon-message_open_2:before { content: ""; }

.icon-message_open_3:before { content: ""; }

.icon-messaging:before { content: ""; }

.icon-mic:before { content: ""; }

.icon-mic_no:before { content: ""; }

.icon-mini_arrow_2:before { content: ""; }

.icon-mini_arrow_90:before { content: ""; }

.icon-mini_arrow_back:before { content: ""; }

.icon-mini_arrow_shack:before { content: ""; }

.icon-mini_dots:before { content: ""; }

.icon-mini_exp:before { content: ""; }

.icon-mini_faster:before { content: ""; }

.icon-mini_info:before { content: ""; }

.icon-mini_minmize:before { content: ""; }

.icon-mini_minus:before { content: ""; }

.icon-mini_next:before { content: ""; }

.icon-mini_pause:before { content: ""; }

.icon-mini_pen:before { content: ""; }

.icon-mini_play:before { content: ""; }

.icon-mini_plus:before { content: ""; }

.icon-mini_question:before { content: ""; }

.icon-mini_record:before { content: ""; }

.icon-mini_search:before { content: ""; }

.icon-mini_stop:before { content: ""; }

.icon-mini_uplize:before { content: ""; }

.icon-mini_x_1:before { content: ""; }

.icon-mini_x_2:before { content: ""; }

.icon-minus_simple:before { content: ""; }

.icon-money_1:before { content: ""; }

.icon-money_sq:before { content: ""; }

.icon-monitor:before { content: ""; }

.icon-monitor_add:before { content: ""; }

.icon-monitor_minus:before { content: ""; }

.icon-moon_1:before { content: ""; }

.icon-moon_2:before { content: ""; }

.icon-moon_3:before { content: ""; }

.icon-moon_4:before { content: ""; }

.icon-mouse_1:before { content: ""; }

.icon-mouse_2:before { content: ""; }

.icon-mouse_2_click:before { content: ""; }

.icon-move_1:before { content: ""; }

.icon-move_2:before { content: ""; }

.icon-move_3:before { content: ""; }

.icon-music_1:before { content: ""; }

.icon-music_1_add:before { content: ""; }

.icon-music_1_minus:before { content: ""; }

.icon-music_2:before { content: ""; }

.icon-news:before { content: ""; }

.icon-news_2:before { content: ""; }

.icon-news_2_add:before { content: ""; }

.icon-news_2_minus:before { content: ""; }

.icon-next_cr:before { content: ""; }

.icon-next_sq:before { content: ""; }

.icon-no_1:before { content: ""; }

.icon-no_2:before { content: ""; }

.icon-no_3:before { content: ""; }

.icon-no_cr:before { content: ""; }

.icon-no_cr-1:before { content: ""; }

.icon-no_sq:before { content: ""; }

.icon-notification:before { content: ""; }

.icon-notification_no:before { content: ""; }

.icon-paint_1:before { content: ""; }

.icon-paint_2:before { content: ""; }

.icon-paint_brush:before { content: ""; }

.icon-pants_1:before { content: ""; }

.icon-pants_2:before { content: ""; }

.icon-paper_1:before { content: ""; }

.icon-paper_1_add:before { content: ""; }

.icon-paper_1_minus:before { content: ""; }

.icon-paper_1_pinned:before { content: ""; }

.icon-paper_1_text:before { content: ""; }

.icon-paper_2:before { content: ""; }

.icon-paper_2_minus:before { content: ""; }

.icon-paper_2_plus:before { content: ""; }

.icon-paper_3:before { content: ""; }

.icon-paper_3_add:before { content: ""; }

.icon-paper_3_exp:before { content: ""; }

.icon-paper_3_minus:before { content: ""; }

.icon-paper_specs:before { content: ""; }

.icon-pause_cr:before { content: ""; }

.icon-pause_sq:before { content: ""; }

.icon-pc_1:before { content: ""; }

.icon-pc_2:before { content: ""; }

.icon-pen_1:before { content: ""; }

.icon-pen_2:before { content: ""; }

.icon-pen_2_minus:before { content: ""; }

.icon-pen_2_plus:before { content: ""; }

.icon-phone:before { content: ""; }

.icon-phone_no:before { content: ""; }

.icon-pic_1:before { content: ""; }

.icon-pic_1_add:before { content: ""; }

.icon-pic_1_minus:before { content: ""; }

.icon-pic_2:before { content: ""; }

.icon-pic_big_1:before { content: ""; }

.icon-pic_big_2:before { content: ""; }

.icon-pic_big_3:before { content: ""; }

.icon-pic_big_4:before { content: ""; }

.icon-pic_folder:before { content: ""; }

.icon-pic_stand_1:before { content: ""; }

.icon-pic_stand_2:before { content: ""; }

.icon-pikes:before { content: ""; }

.icon-pin:before { content: ""; }

.icon-pin_add:before { content: ""; }

.icon-pin_minus:before { content: ""; }

.icon-pinned_1:before { content: ""; }

.icon-pinned_2:before { content: ""; }

.icon-pinned_3:before { content: ""; }

.icon-pizza:before { content: ""; }

.icon-plane:before { content: ""; }

.icon-play_cr:before { content: ""; }

.icon-play_sq:before { content: ""; }

.icon-play_video:before { content: ""; }

.icon-plus_simple_1:before { content: ""; }

.icon-power:before { content: ""; }

.icon-print:before { content: ""; }

.icon-prize_1:before { content: ""; }

.icon-prize_2:before { content: ""; }

.icon-prize_3:before { content: ""; }

.icon-prize_5:before { content: ""; }

.icon-processor_1:before { content: ""; }

.icon-processor_2:before { content: ""; }

.icon-profile_badge_1:before { content: ""; }

.icon-profile_badge_2:before { content: ""; }

.icon-profile_card:before { content: ""; }

.icon-profile_close_1:before { content: ""; }

.icon-profile_close_1_minus:before { content: ""; }

.icon-profile_close_2:before { content: ""; }

.icon-profile_close_3:before { content: ""; }

.icon-profile_close_add:before { content: ""; }

.icon-profile_cr:before { content: ""; }

.icon-profile_cr_add:before { content: ""; }

.icon-profile_cr_minus:before { content: ""; }

.icon-profile_sq:before { content: ""; }

.icon-profile_sq_add:before { content: ""; }

.icon-profile_sq_minus:before { content: ""; }

.icon-profiles_1:before { content: ""; }

.icon-profiles_1_add:before { content: ""; }

.icon-profiles_1_minus:before { content: ""; }

.icon-profiles_2:before { content: ""; }

.icon-profiles_2_add:before { content: ""; }

.icon-profiles_2_minus:before { content: ""; }

.icon-puzzle:before { content: ""; }

.icon-question_cr:before { content: ""; }

.icon-rain:before { content: ""; }

.icon-ram:before { content: ""; }

.icon-rec_cr:before { content: ""; }

.icon-rec_sq:before { content: ""; }

.icon-refresh_1:before { content: ""; }

.icon-refresh_2:before { content: ""; }

.icon-refresh_3:before { content: ""; }

.icon-remove_sq:before { content: ""; }

.icon-save_1:before { content: ""; }

.icon-save_1_add:before { content: ""; }

.icon-save_1_minus:before { content: ""; }

.icon-save_2:before { content: ""; }

.icon-scale_1:before { content: ""; }

.icon-scale_1_down:before { content: ""; }

.icon-scale_1_up:before { content: ""; }

.icon-search_1:before { content: ""; }

.icon-search_2:before { content: ""; }

.icon-selection_1:before { content: ""; }

.icon-selection_2:before { content: ""; }

.icon-selection_3:before { content: ""; }

.icon-selection_b_1:before { content: ""; }

.icon-selection_b_2:before { content: ""; }

.icon-selection_b_3:before { content: ""; }

.icon-selection_b_4:before { content: ""; }

.icon-settings_1:before { content: ""; }

.icon-settings_2:before { content: ""; }

.icon-settings_sq:before { content: ""; }

.icon-Shape-581:before { content: ""; }

.icon-Shape-581-1:before { content: ""; }

.icon-Shape-581-2:before { content: ""; }

.icon-Shape-582:before { content: ""; }

.icon-share_1:before { content: ""; }

.icon-share_1_sq:before { content: ""; }

.icon-share_2_d_sq:before { content: ""; }

.icon-share_2_u_sq:before { content: ""; }

.icon-share_arrows:before { content: ""; }

.icon-share_chain_1:before { content: ""; }

.icon-share_chain_2:before { content: ""; }

.icon-share_chain_3:before { content: ""; }

.icon-share_chain_4:before { content: ""; }

.icon-share_chain_5:before { content: ""; }

.icon-share_chain_6:before { content: ""; }

.icon-shield:before { content: ""; }

.icon-shield_accept:before { content: ""; }

.icon-shield_no:before { content: ""; }

.icon-ship:before { content: ""; }

.icon-shirt_1:before { content: ""; }

.icon-shirt_2:before { content: ""; }

.icon-shop_1:before { content: ""; }

.icon-shop_2:before { content: ""; }

.icon-shos:before { content: ""; }

.icon-site:before { content: ""; }

.icon-site_text:before { content: ""; }

.icon-sleep_2:before { content: ""; }

.icon-smartphone:before { content: ""; }

.icon-smartphone_add:before { content: ""; }

.icon-smartphone_minus:before { content: ""; }

.icon-smile_empers:before { content: ""; }

.icon-smile_happy_1:before { content: ""; }

.icon-smile_happy_2:before { content: ""; }

.icon-smile_happy_3:before { content: ""; }

.icon-smile_meh:before { content: ""; }

.icon-smile_meh_2:before { content: ""; }

.icon-smile_meh_3:before { content: ""; }

.icon-smile_sad_1:before { content: ""; }

.icon-smile_sad_2:before { content: ""; }

.icon-smile_sad_3:before { content: ""; }

.icon-smile_sad_4:before { content: ""; }

.icon-snow:before { content: ""; }

.icon-sock:before { content: ""; }

.icon-sound_1:before { content: ""; }

.icon-sound_2:before { content: ""; }

.icon-sound_3:before { content: ""; }

.icon-sound_no:before { content: ""; }

.icon-speaker_1:before { content: ""; }

.icon-speaker_2:before { content: ""; }

.icon-star_1:before { content: ""; }

.icon-star_1_half:before { content: ""; }

.icon-star_1_no:before { content: ""; }

.icon-star_2:before { content: ""; }

.icon-stop_cr:before { content: ""; }

.icon-stop_sq:before { content: ""; }

.icon-sun_1:before { content: ""; }

.icon-sun_2:before { content: ""; }

.icon-sun_3:before { content: ""; }

.icon-sun_4:before { content: ""; }

.icon-sword:before { content: ""; }

.icon-table:before { content: ""; }

.icon-tablet:before { content: ""; }

.icon-tablet_add:before { content: ""; }

.icon-tablet_minus:before { content: ""; }

.icon-tarch_5:before { content: ""; }

.icon-tea_1:before { content: ""; }

.icon-temperature_1:before { content: ""; }

.icon-temperature_2:before { content: ""; }

.icon-tes_2:before { content: ""; }

.icon-tes_3:before { content: ""; }

.icon-tes_4:before { content: ""; }

.icon-text:before { content: ""; }

.icon-thumb:before { content: ""; }

.icon-tiles:before { content: ""; }

.icon-time_1:before { content: ""; }

.icon-time_1_add:before { content: ""; }

.icon-time_1_exp:before { content: ""; }

.icon-time_1_minus:before { content: ""; }

.icon-time_2:before { content: ""; }

.icon-train_1:before { content: ""; }

.icon-train_2:before { content: ""; }

.icon-underpants_1:before { content: ""; }

.icon-underpants_2:before { content: ""; }

.icon-upload_1:before { content: ""; }

.icon-video_1:before { content: ""; }

.icon-video_2:before { content: ""; }

.icon-video_clip:before { content: ""; }

.icon-vine:before { content: ""; }

.icon-wallet:before { content: ""; }

.icon-wind:before { content: ""; }

.icon-world_1:before { content: ""; }

.icon-world_2:before { content: ""; }

.icon-world_3:before { content: ""; }

.icon-X_simple_1:before { content: ""; }

.icon-X_simple_2:before { content: ""; }

.icon-zoom_1:before { content: ""; }

.icon-zoom_2:before { content: ""; }

.icon-zoom_out_1:before { content: ""; }

.icon-zoom_out_2:before { content: ""; }

@font-face { font-family: 'HelveticaNeueCyr'; src: url("../fonts/HelveticaNeueCyr-Roman.eot"); src: url("../fonts/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Roman.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr-Roman") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'HelveticaNeueCyr'; src: url("../fonts/HelveticaNeueCyr-Medium.eot"); src: url("../fonts/HelveticaNeueCyr-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Medium.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Medium.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Medium.svg#HelveticaNeueCyr-Medium") format("svg"); font-weight: 500; font-style: normal; }

@font-face { font-family: 'HelveticaNeueCyr'; src: url("../fonts/HelveticaNeueCyr-Bold.eot"); src: url("../fonts/HelveticaNeueCyr-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Bold.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Bold.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Bold.svg#HelveticaNeueCyr-Bold") format("svg"); font-weight: bold; font-style: normal; }

.container_fluid_custom { max-width: 1330px; }

html, body { height: 100%; background: #f8f8f8; }

.wrapper { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; height: 100%; }

.w1 { -webkit-box-flex: 1; -webkit-flex: 1 0 auto; -ms-flex: 1 0 auto; flex: 1 0 auto; padding-bottom: 30px; }

.pseudo_select .btn:not(:disabled):not(.disabled):active, .pseudo_select .btn:not(:disabled):not(.disabled).active, .pseudo_select .show > .btn.dropdown-toggle { background: none !important; border: 1px solid #ededed; }

.pseudo_select .show > .btn.dropdown-toggle .ico { -webkit-transform: translateY(-50%) rotate(-90deg); -ms-transform: translateY(-50%) rotate(-90deg); transform: translateY(-50%) rotate(-90deg); }

.pseudo_select .dropdown-toggle, .pseudo_select .dropdown-item { width: 100%; height: 70px; text-align: left; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; background: none; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-border-radius: 0; border-radius: 0; border: 1px solid #ededed; padding: 0 40px 0 20px; }

.pseudo_select .dropdown-toggle .img_prev, .pseudo_select .dropdown-item .img_prev { margin-right: 10px; }

.pseudo_select .dropdown-toggle:before, .pseudo_select .dropdown-item:before { content: ''; width: 1px; height: 100%; background: #ededed; right: 41px; top: 0; position: absolute; }

.pseudo_select .dropdown-toggle .ico, .pseudo_select .dropdown-item .ico { color: #424951; position: absolute; top: 50%; right: 15px; -webkit-transform: translateY(-50%) rotate(90deg); -ms-transform: translateY(-50%) rotate(90deg); transform: translateY(-50%) rotate(90deg); }

.pseudo_select .dropdown-toggle:after, .pseudo_select .dropdown-item:after { content: none; }

.pseudo_select .dropdown-toggle strong, .pseudo_select .dropdown-item strong { font-weight: bold; font-size: 14px; line-height: 16px; color: #424951; display: block; }

.pseudo_select .dropdown-toggle em, .pseudo_select .dropdown-item em { font-style: normal; color: #909ba1; font-weight: 500; display: block; }

.pseudo_select span.dropdown-toggle { cursor: default !important; }

.pseudo_select span.dropdown-toggle:before, .pseudo_select span.dropdown-toggle:after { content: none; }

.pseudo_select span.dropdown-toggle .ico { display: none; }

.pseudo_select .dropdown-item { border: 0; border-bottom: 1px solid #ededed; }

.pseudo_select .dropdown-item:after, .pseudo_select .dropdown-item:before { content: none; }

.pseudo_select .dropdown-item:hover { background: #f8f8f8; }

.pseudo_select .dropdown-menu { padding: 0; margin: 0; -webkit-border-radius: 0; border-radius: 0; border: 1px solid #ededed; width: 100%; border-top: 0; border-bottom: 0; }

.form-control { border: 1px solid #ccd2dc; -webkit-border-radius: 4px; border-radius: 4px; color: #424951; font-weight: 500; }

.help_text { display: block; color: #909ba1; font-style: italic; padding-top: 8px; }

.btn_big { padding-top: 12px; padding-bottom: 12px; font-size: 14px; font-weight: 500; }

.btn_big span, .btn_big i { display: inline-block; vertical-align: middle; }

.btn_big i { font-size: 16px; margin-left: 9px; }

.footer { -webkit-box-flex: 0; -webkit-flex: 0 0 auto; -ms-flex: 0 0 auto; flex: 0 0 auto; border-top: 4px solid #26bcf1; padding: 28px 0; }

.footer_logo { color: #f8f8f8; margin-right: 20px; }

.footer_logo i { font-weight: bold; font-style: normal; color: #26bcf1; }

.footer_logo:hover { text-decoration: none; color: #f8f8f8; }

.logo_block { margin-right: auto; }

.logo_block .copy { color: #909ba1; position: relative; padding-left: 20px; padding-right: 44px; }

.logo_block .copy:before { content: ''; position: absolute; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); left: 0; width: 1px; height: 25px; background: #46494c; }

.footer_nav { margin: 0; padding: 0; list-style: none; font-size: 14px; }

.footer_nav li { position: relative; padding-left: 20px; padding-right: 30px; }

.footer_nav li:last-child { padding-right: 0; }

.footer_nav li:before { content: ''; width: 6px; height: 6px; -webkit-border-radius: 50%; border-radius: 50%; background: #909ba1; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); left: 0; position: absolute; }

.footer_nav li.active a { text-decoration: underline; color: #26bcf1; }

.footer_nav li.active:before { background: #26bcf1; }

.footer_nav li a { color: #909ba1; }

.footer_nav li a:hover { color: #26bcf1; text-decoration: none; }

.etc_inf { margin: 0; padding: 0 0 0 40px; list-style: none; font-size: 14px; }

.etc_inf li { padding: 6px 0; }

.etc_inf i, .etc_inf span { display: inline-block; vertical-align: middle; }

.etc_inf span { padding-left: 10px; }

.etc_inf a { color: #fff; }

.etc_inf a:hover { text-decoration: none; }

.lang { text-transform: uppercase; }

.lang .btn { background: none; border: 0; padding: 0 0 0 18px; }

.lang .btn:after { content: none; }

.lang .btn:before { content: ''; display: inline-block; width: 0; height: 0; position: absolute; top: 50%; left: 0; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); border-top: 6px solid #f8f8f8; border-right: 6px solid transparent; border-bottom: 0; border-left: 6px solid transparent; }

.lang .btn:not(:disabled):not(.disabled):active, .lang .btn:not(:disabled):not(.disabled).active, .lang .show > .btn.dropdown-toggle { background: none !important; border: 0; }

.lang .dropdown-menu { min-width: 38px; padding: 0; -webkit-border-radius: 3px; border-radius: 3px; }

.lang .dropdown-menu a { padding-left: 0; padding-right: 0; text-align: center; }

.lang .dropdown-menu a:first-of-type { -webkit-border-top-left-radius: 3px; border-top-left-radius: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px; }

.lang .dropdown-menu a:last-of-type { -webkit-border-bottom-left-radius: 3px; border-bottom-left-radius: 3px; -webkit-border-bottom-right-radius: 3px; border-bottom-right-radius: 3px; }

@media (max-width: 1199.98px) { .footer { padding: 15px 0; font-size: 14px; }
  .footer .footer_nav { -webkit-box-ordinal-group: 2; -webkit-order: 1; -ms-flex-order: 1; order: 1; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }
  .footer .footer_nav li { padding: 0 10px; }
  .footer .footer_nav li:before { content: none; }
  .footer .etc_inf { -webkit-box-ordinal-group: 3; -webkit-order: 2; -ms-flex-order: 2; order: 2; padding: 15px 0; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }
  .footer .etc_inf li { padding: 0 10px; }
  .footer .logo_block { -webkit-box-ordinal-group: 4; -webkit-order: 3; -ms-flex-order: 3; order: 3; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }
  .footer .logo_block .copy { padding-right: 20px; }
  .footer .footer_nav, .footer .etc_inf, .footer .logo_block { -webkit-box-flex: 0; -webkit-flex: 0 0 100%; -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; } }

.header a, .header a * { -webkit-transition: color 0.3s ease ,  background 0.3s ease; -o-transition: color 0.3s ease ,  background 0.3s ease; transition: color 0.3s ease ,  background 0.3s ease; }

.header a:hover, .header a *:hover { -webkit-transition: color 0.5s,  ease background 0.5s ease; -o-transition: color 0.5s,  ease background 0.5s ease; transition: color 0.5s,  ease background 0.5s ease; }

.header .parts_btn { padding: 0 20px; }

.header .parts_btn a { min-width: 120px; text-align: center; }

.header .parts_btn a:hover i { color: #fff; }

.header .parts_btn a + a { margin-left: 10px; }

.header .parts_btn i, .header .parts_btn span { display: inline-block; vertical-align: middle; }

.header .parts_btn i { font-size: 14px; }

.header .parts_btn span { color: #fff; padding-left: 6px; }

@media (max-width: 1199.98px) { .header .parts_btn a { min-width: 50px; } }

@media (max-width: 991.98px) { .header .parts_btn { width: 100%; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; padding: 10px 30px 20px; }
  .header .parts_btn a { width: 100%; margin-top: 20px; height: 50px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }
  .header .parts_btn a i { font-size: 18px; }
  .header .parts_btn a span { font-size: 18px; font-weight: 500; }
  .header .parts_btn a + a { margin: 20px 0 0; } }

@media (max-width: 991.98px) { .header { height: 80px; }
  .header > .container_fluid_custom { height: 100%; position: relative; }
  .header .logo { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); } }

.btn_mob { position: absolute; top: 50%; right: 30px; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); cursor: pointer; }

.btn_mob i { font-size: 20px; color: #f8f8f8; }

.message_box_in-mobile { position: absolute !important; top: 25px; left: 30px; }

.message_box_in-mobile .message_link { font-size: 24px; color: #f8f8f8; }

.message_box_in-mobile .message_link:hover { text-decoration: none; }

.message_box_in-mobile .message_link .number { height: 20px !important; min-width: 20px !important; font-size: 14px !important; line-height: 18px !important; }

.message_box_in-mobile .message_drop { position: fixed !important; width: 100% !important; height: 100% !important; top: 80px !important; right: auto !important; left: 0; }

.message_box_in-mobile .message_content { height: -webkit-calc(100% - 160px) !important; height: calc(100% - 160px) !important; max-height: none !important; min-height: auto !important; }

.message_content { max-height: 300px; min-height: 100px; }

.bar_menu { -webkit-box-flex: 1; -webkit-flex: 1 1 auto; -ms-flex: 1 1 auto; flex: 1 1 auto; width: 1%; }

@media (max-width: 991.98px) { .bar_menu { background: red; position: fixed; top: 80px; left: -100%; height: -webkit-calc(100% - 80px); height: calc(100% - 80px); min-height: -webkit-calc(100% - 80px); min-height: calc(100% - 80px); overflow: auto; width: 300px; z-index: 200; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; background: #343537; -webkit-flex-wrap: wrap !important; -ms-flex-wrap: wrap !important; flex-wrap: wrap !important; -webkit-align-content: flex-start !important; -ms-flex-line-pack: start !important; align-content: flex-start !important; }
  .bar_menu.opened { left: 0; } }

@media screen and (max-width: 991.98px) and (max-width: 400px) { .bar_menu { width: 280px; } }

.main_nav { margin: 0; padding: 0 0 0 60px; list-style: none; height: 70px; }

.main_nav a { font-size: 14px; padding: 0 10px; position: relative; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; height: 100%; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.main_nav a:hover { text-decoration: none; }

.main_nav a:hover * { color: #f4f4f4; }

.main_nav a:hover:after { content: ''; width: 100%; height: 4px; position: absolute; bottom: 0; left: 0; background: #04cbf8; }

.main_nav li { margin-right: 20px; }

.main_nav li:last-of-type { margin-right: 0; }

.main_nav li.active a * { color: #f4f4f4; }

.main_nav li.active a:after { content: ''; width: 100%; height: 4px; position: absolute; bottom: 0; left: 0; background: #04cbf8; }

.main_nav i, .main_nav span { color: #757c82; }

.main_nav span { margin-left: 10px; }

@media (max-width: 1199.98px) { .main_nav { padding-left: 30px; }
  .main_nav li { margin: 0; } }

@media (max-width: 991.98px) { .main_nav { padding: 0; display: block !important; width: 100%; height: auto; border-top: 1px solid #434548; }
  .main_nav li { border-bottom: 1px solid #434548; }
  .main_nav li.active a:after { width: 7px; height: 100%; }
  .main_nav li a { height: 80px; padding-left: 30px; font-size: 18px; font-weight: 500; -webkit-box-pack: start; -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start; }
  .main_nav li a:hover:after { width: 7px; height: 100%; } }

.menu_overlay { width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 2; background: rgba(0, 0, 0, 0.4); display: none; }

.menu_overlay.opened { display: block; }

@media (min-width: 992px) { .menu_overlay.opened { display: none; } }

.simplebar-scrollbar { width: 4px; right: 5px; }

.simplebar-scrollbar:before { background: #ccd2dc; }

@media (max-width: 991.98px) { .simplebar-scrollbar { width: 10px; right: 3px; } }

.balance_block { padding: 0 20px; position: relative; }

.balance_block a { font-size: 25px; color: #757c82; }

.balance_block a:hover { text-decoration: none; }

.balance_block:after, .balance_block:before { content: ''; width: 1px; height: 20px; position: absolute; top: 50%; left: 0; background: #424345; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }

.balance_block:after { left: auto; right: 0; }

.balance_block span, .balance_block em { font-style: normal; color: #757c82; }

.balance_block em { margin-right: auto; padding-right: 10px; }

.balance_block .balance_list { margin: 0; padding: 0 0 0 15px; list-style: none; }

.balance_block strong { font-weight: 500; }

@media (max-width: 991.98px) { .balance_block { padding: 25px 30px 30px; width: 100%; -webkit-box-pack: justify !important; -webkit-justify-content: space-between !important; -ms-flex-pack: justify !important; justify-content: space-between !important; }
  .balance_block span { display: none !important; }
  .balance_block ul { padding-left: 0 !important; font-size: 18px; line-height: 21px; }
  .balance_block:after { content: none !important; } }

.etc_func { color: #757c82; margin: 0; padding: 0; list-style: none; }

.etc_func li { padding-left: 20px; }

.etc_func i { font-size: 16px; display: inline-block; vertical-align: middle; }

.etc_func span { display: inline-block; vertical-align: middle; padding-left: 7px; }

.etc_func a { color: #757c82; }

.etc_func a:hover { text-decoration: none; color: #f4f4f4; }

@media (max-width: 1199.98px) { .etc_func .log_out span { display: none; } }

.message_box { position: relative; }

.message_box .message_link { position: relative; display: block; }

.message_box .message_link.active { color: #f4f4f4; }

.message_box .message_link .number { position: absolute; top: 0; right: 0; -webkit-transform: translate(50%, -25%); -ms-transform: translate(50%, -25%); transform: translate(50%, -25%); font-size: 10px; color: #343537; font-style: normal; font-weight: bold; height: 16px; line-height: 12px; background: #26bcf1; -webkit-border-radius: 50%; border-radius: 50%; min-width: 16px; padding: 0 3px; text-align: center; border: 2px solid rgba(38, 188, 241, 0.45); -webkit-background-clip: padding-box; background-clip: padding-box; }

.log_out { white-space: nowrap; }

.message_drop { position: absolute; top: 35px; right: -42px; width: 270px; background: #fff; border: 1px solid #ededed; -webkit-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 7px 10px 0px rgba(0, 0, 1, 0.03); box-shadow: 0 7px 10px 0px rgba(0, 0, 1, 0.03); display: none; z-index: 100; }

.message_drop.opened { display: block; }

.message_drop:after { content: ''; width: 0; height: 0; top: -8px; right: 40px; position: absolute; border-bottom: 8px solid #fff; border-left: 8px solid transparent; border-right: 8px solid transparent; }

@media (max-width: 991.98px) { .message_drop:after { content: none; } }

.message_drop .message_header { padding: 10px 20px 13px; border-bottom: 1px solid #ccd2dc; position: relative; margin-bottom: 5px; }

.message_drop .message_header a:hover { text-decoration: none; }

@media (max-width: 991.98px) { .message_drop .message_header { height: 80px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; padding: 10px 30px 13px; } }

.message_drop .message_header h3 { margin: 0; font-size: 14px; font-weight: bold; color: #e25757; padding-right: 17px; }

@media (max-width: 991.98px) { .message_drop .message_header h3 { font-size: 18px; padding-right: 20px; } }

.message_drop .message_header h3 span { display: inline-block; vertical-align: middle; padding: 0; }

.message_drop .message_header .ico { position: absolute; top: 15px; right: 20px; font-size: 10px; color: #757c82; }

@media (max-width: 991.98px) { .message_drop .message_header .ico { font-size: 22px; top: 50%; right: 28px; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); } }

.message_drop .message_row { padding: 12px 20px 10px; border-top: 1px solid #ccd2dc; position: relative; }

.message_drop .message_row:first-of-type { border-top: 0; }

.message_drop .message_row .ico { position: absolute; top: 14px; right: 20px; font-size: 8px; color: #babdc0; }

@media (max-width: 991.98px) { .message_drop .message_row .ico { font-size: 16px; right: 30px; } }

.message_drop .message_row h4 { margin: 0; font-weight: bold; color: #424951; font-size: 12px; padding-bottom: 5px; padding-right: 15px; }

.message_drop .message_row p { margin: 0; font-size: 12px; color: #757c82; line-height: 14px; padding-bottom: 3px; }

.message_drop .message_row .read_more { color: #26bcf1; text-decoration: underline; font-weight: bold; }

.message_drop .message_row .read_more:hover { text-decoration: none; }

.message_drop .message_row .inf { display: block; padding: 3px 0 0 0; font-weight: bold; color: #424951; }

.message_drop .message_row .inf em { font-style: normal; }

@media (max-width: 991.98px) { .message_drop .message_row { padding: 12px 30px 15px; }
  .message_drop .message_row h4 { font-size: 18px; }
  .message_drop .message_row p, .message_drop .message_row .read_more, .message_drop .message_row .inf { font-size: 14px; line-height: 17px; } }

.main { padding-top: 30px; }

.box_item_wrap { padding: 0 30px; }

.col_between { -webkit-box-flex: 0; -webkit-flex: 0 0 110px; -ms-flex: 0 0 110px; flex: 0 0 110px; max-width: 110px; text-align: center; margin-top: 85px; }

.toogle_btn { width: 41px; height: 32px; -webkit-border-radius: 4px; border-radius: 4px; padding: 0; color: #fff; position: relative; }

.toogle_btn i { font-size: 16px; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%) rotate(-90deg); -ms-transform: translate(-50%, -50%) rotate(-90deg); transform: translate(-50%, -50%) rotate(-90deg); }

.toogle_btn:hover, .toogle_btn:focus { color: #fff !important; background: #e35756 !important; border-color: #e35756 !important; }

.box_item { -webkit-box-shadow: 0 7px 10px 0px rgba(0, 0, 1, 0.03); box-shadow: 0 7px 10px 0px rgba(0, 0, 1, 0.03); -webkit-border-radius: 4px; border-radius: 4px; background: #fff; margin-bottom: 30px; }

.box_item .box_item_title { padding: 5px 30px; height: 60px; border-bottom: 1px solid #ccd2dc; -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px; position: relative; }

.box_item .box_item_title h2 { margin: 0; font-size: 18px; color: #424951; font-weight: bold; margin: 0; }

.box_item .box_item_title:before { content: ''; position: absolute; top: 50%; left: 0; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); width: 4px; height: 24px; display: block; }

.box_item .box_item_title.blue_bd:before { background: #26bcf1; }

.func_block { padding-top: 35px; }

.func_block h3 { font-size: 18px; font-weight: 500; margin: 0; padding: 0 0 15px 20px; }

.info_col { padding: 30px 0 0 20px; }

.info_col .form-group { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }

.info_col .r_part { -webkit-box-flex: 1; -webkit-flex: 1 1 auto; -ms-flex: 1 1 auto; flex: 1 1 auto; width: 1%; }

.info_col label { color: #909ba1; padding-right: 10px; padding-top: 7px; }

.info_col label, .info_col input { display: block; margin: 0; }

.show_link { padding-bottom: 70px; padding-top: 30px; }

.show_link.opened a.btn { display: none; }

.show_link.opened span.btn { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }

.show_link .btn { max-width: 200px; width: 100%; height: 48px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; text-align: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; color: #424951; font-size: 14px; font-weight: 500; margin: 0 auto; }

.show_link .btn span { padding-right: 14px; }

.show_link .btn:hover { color: #fff; background: #50c46f; border-color: #50c46f; }

.show_link span.btn { cursor: default !important; display: none; }

.show_link span.btn:hover, .show_link span.btn:active, .show_link span.btn:focus { color: #424951; background: #ededed !important; border-color: #ededed !important; }

.form-group_custom { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; margin-bottom: 20px; }

.form-group_custom.no_fixed_label label { -webkit-box-flex: 0; -webkit-flex: none; -ms-flex: none; flex: none; max-width: none; }

.form-group_custom label { -webkit-box-flex: 0; -webkit-flex: 0 0 100px; -ms-flex: 0 0 100px; flex: 0 0 100px; max-width: 100px; margin: 0; color: #909ba1; text-align: right; padding-right: 10px; }

.form-group_custom .r_part { -webkit-box-flex: 1; -webkit-flex: 1 1 auto; -ms-flex: 1 1 auto; flex: 1 1 auto; width: 1%; }

.show_block { padding-bottom: 30px; display: none; }

.total_info { margin: 0; padding: 12px 0 15px 0; list-style: none; }

.total_info li { color: #424951; }

.total_info strong { font-size: 14px; font-weight: bold; }

.total_info b { font-weight: bold; }

.box_item_info { padding-top: 17px; }

.box_item_info .col_text { -webkit-box-flex: 1; -webkit-flex: 1 1 auto; -ms-flex: 1 1 auto; flex: 1 1 auto; width: 1%; color: #909ba1; }

.box_item_info .col_text p { line-height: 15px; margin: 0; }

.box_item_info .col_text p a { text-decoration: underline; color: #26bcf1; font-weight: 500; }

.box_item_info .col_text p a:hover { text-decoration: none; }

.box_item_info .col_data { -webkit-box-flex: 0; -webkit-flex: 0 0 220px; -ms-flex: 0 0 220px; flex: 0 0 220px; max-width: 220px; }

.col_data { padding-left: 10px; }

.col_data strong { display: inline-block; vertical-align: middle; color: #424951; font-weight: 500; font-size: 14px; }

.col_data span { display: inline-block; vertical-align: middle; }

span.data { padding: 2px 10px; -webkit-border-radius: 4px; border-radius: 4px; font-size: 14px; font-weight: 500; }

/*# sourceMappingURL=all.css.map */
