$icomoon-font-path: "../fonts/icons";


$icon-telegram-plane-brands: "\eb11";
$icon-accept_1: "\e900";
$icon-accept_cr: "\e901";
$icon-accept_sq: "\e902";
$icon-add_sq: "\e903";
$icon-add_sq-1: "\e904";
$icon-aim_1: "\e905";
$icon-aim_2: "\e906";
$icon-align_1: "\e907";
$icon-align_2: "\e908";
$icon-arange_1: "\e909";
$icon-arange_2: "\e90a";
$icon-arrow_90_degree: "\e90b";
$icon-arrow_back_1: "\e90c";
$icon-arrow_cr: "\e90d";
$icon-arrow_simple_1: "\e90e";
$icon-arrow_simple_2: "\e90f";
$icon-arrow_simple_3: "\e910";
$icon-arrow_simple_chock: "\e911";
$icon-arrow_simple_d: "\e912";
$icon-arrow_simple_u: "\e913";
$icon-arrow_sq: "\e914";
$icon-arrows_down_up: "\e915";
$icon-back: "\e916";
$icon-bag_1: "\e917";
$icon-bag_2: "\e918";
$icon-bag_3: "\e919";
$icon-bag_3_open: "\e91a";
$icon-bag_4: "\e91b";
$icon-baggage: "\e91c";
$icon-battery_1_1: "\e91d";
$icon-battery_1_2: "\e91e";
$icon-battery_1_3: "\e91f";
$icon-battery_1_4: "\e920";
$icon-battery_1_5: "\e921";
$icon-battery_2_1: "\e922";
$icon-battery_2_2: "\e923";
$icon-battery_2_3: "\e924";
$icon-battery_2_4: "\e925";
$icon-battery_2_5: "\e926";
$icon-bike: "\e927";
$icon-bluetooth: "\e928";
$icon-book_1: "\e929";
$icon-book_1_add: "\e92a";
$icon-book_1_minus: "\e92b";
$icon-book_2: "\e92c";
$icon-book_3: "\e92d";
$icon-book_4: "\e92e";
$icon-box: "\e92f";
$icon-box_2: "\e930";
$icon-box_3: "\e931";
$icon-bus: "\e932";
$icon-cable_1: "\e933";
$icon-cable_2: "\e934";
$icon-calendar: "\e935";
$icon-calendar_add: "\e936";
$icon-calendar_minus: "\e937";
$icon-cam_1: "\e938";
$icon-cam_2_1: "\e939";
$icon-cam_2_2: "\e93a";
$icon-cam_2_2_no: "\e93b";
$icon-cam_3: "\e93c";
$icon-cam_4: "\e93d";
$icon-caps_1_1: "\e93e";
$icon-caps_1_2: "\e93f";
$icon-caps_2_1: "\e940";
$icon-caps_2_2: "\e941";
$icon-caps_3_1: "\e942";
$icon-caps_3_2: "\e943";
$icon-caps_4_1: "\e944";
$icon-caps_4_2: "\e945";
$icon-caps_back: "\e946";
$icon-car_1: "\e947";
$icon-car_2: "\e948";
$icon-card_1: "\e949";
$icon-card_1_add: "\e94a";
$icon-card_1_exp: "\e94b";
$icon-card_1_minus: "\e94c";
$icon-card_clubs: "\e94d";
$icon-card_hearts: "\e94e";
$icon-card_pikes: "\e94f";
$icon-card_tiles: "\e950";
$icon-cart_1: "\e951";
$icon-cart_2: "\e952";
$icon-cart_3: "\e953";
$icon-chair_1: "\e954";
$icon-chair_2: "\e955";
$icon-cherry: "\e956";
$icon-cloud_1: "\e957";
$icon-cloud_2: "\e958";
$icon-cloud_down: "\e959";
$icon-cloud_up: "\e95a";
$icon-clubs: "\e95b";
$icon-code_sq: "\e95c";
$icon-compas_1: "\e95d";
$icon-compas_2: "\e95e";
$icon-connection_1: "\e95f";
$icon-connection_2: "\e960";
$icon-copy_1: "\e961";
$icon-copy_2: "\e962";
$icon-copy_3: "\e963";
$icon-copy_4: "\e964";
$icon-crop_1: "\e965";
$icon-crop_1-1: "\e966";
$icon-cs: "\e967";
$icon-cut: "\e968";
$icon-data_1: "\e969";
$icon-data_2: "\e96a";
$icon-data_3: "\e96b";
$icon-data_4: "\e96c";
$icon-data_line: "\e96d";
$icon-data_lines: "\e96e";
$icon-delete_1: "\e96f";
$icon-delete_2: "\e970";
$icon-delete_3: "\e971";
$icon-delete_4: "\e972";
$icon-diamond_1: "\e973";
$icon-diamond_2: "\e974";
$icon-diamond_3: "\e975";
$icon-dice_1: "\e976";
$icon-dice_2: "\e977";
$icon-dice_3: "\e978";
$icon-dice_4: "\e979";
$icon-dice_5: "\e97a";
$icon-dice_6: "\e97b";
$icon-door_1: "\e97c";
$icon-door_2: "\e97d";
$icon-down_cr: "\e97e";
$icon-down_sq: "\e97f";
$icon-download_1: "\e980";
$icon-electro_1: "\e981";
$icon-electro_2: "\e982";
$icon-electro_2_no: "\e983";
$icon-exclamation_cr: "\e984";
$icon-exclamation_tr: "\e985";
$icon-eye_1: "\e986";
$icon-eye_2: "\e987";
$icon-eye_2_no: "\e988";
$icon-fan: "\e989";
$icon-fix_1: "\e98a";
$icon-fix_2: "\e98b";
$icon-flag_1: "\e98c";
$icon-flag_2: "\e98d";
$icon-flag_3: "\e98e";
$icon-flag_4: "\e98f";
$icon-flat_1: "\e990";
$icon-flat_1_exp: "\e991";
$icon-flat_1_love: "\e992";
$icon-flat_1_minus: "\e993";
$icon-flat_1_plus: "\e994";
$icon-flat_1_star: "\e995";
$icon-flat_2_love: "\e996";
$icon-flat_2_minus: "\e997";
$icon-flat_2_plus: "\e998";
$icon-flat_2_star: "\e999";
$icon-flower: "\e99a";
$icon-folder_1: "\e99b";
$icon-folder_2: "\e99c";
$icon-folder_3: "\e99d";
$icon-folder_4: "\e99e";
$icon-folder_5: "\e99f";
$icon-folders: "\e9a0";
$icon-gamble_chck: "\e9a1";
$icon-gamble_roll: "\e9a2";
$icon-game_pad_non_wire: "\e9a3";
$icon-game_pad_wire: "\e9a4";
$icon-gear_1: "\e9a5";
$icon-gear_2: "\e9a6";
$icon-gear_3: "\e9a7";
$icon-gear_4: "\e9a8";
$icon-gift_1: "\e9a9";
$icon-gift_2: "\e9aa";
$icon-gpu_1: "\e9ab";
$icon-gpu_cr: "\e9ac";
$icon-hash_1: "\e9ad";
$icon-hash_2: "\e9ae";
$icon-headphones_1: "\e9af";
$icon-headphones_2: "\e9b0";
$icon-headphones_3: "\e9b1";
$icon-hearts: "\e9b2";
$icon-help_1: "\e9b3";
$icon-home_1_1: "\e9b4";
$icon-home_1_2: "\e9b5";
$icon-home_2_1: "\e9b6";
$icon-home_2_2: "\e9b7";
$icon-home_3_1: "\e9b8";
$icon-home_3_2: "\e9b9";
$icon-home_4_1: "\e9ba";
$icon-home_4_2: "\e9bb";
$icon-horse: "\e9bc";
$icon-icecream: "\e9bd";
$icon-ico_-04: "\e9be";
$icon-ico_-377: "\e9bf";
$icon-ico_-403: "\e9c0";
$icon-info_cr: "\e9c1";
$icon-invert: "\e9c2";
$icon-key_1: "\e9c3";
$icon-key_2: "\e9c4";
$icon-label: "\e9c5";
$icon-label_add: "\e9c6";
$icon-label_minus: "\e9c7";
$icon-laptop: "\e9c8";
$icon-layers_1: "\e9c9";
$icon-layers_2: "\e9ca";
$icon-layers_3: "\e9cb";
$icon-location_1: "\e9cc";
$icon-location_1_add: "\e9cd";
$icon-location_1_minus: "\e9ce";
$icon-location_2: "\e9cf";
$icon-location_3_minus: "\e9d0";
$icon-location_3_plus: "\e9d1";
$icon-location_3_profile: "\e9d2";
$icon-location_4: "\e9d3";
$icon-lock_1: "\e9d4";
$icon-lock_1_add: "\e9d5";
$icon-lock_1_exp: "\e9d6";
$icon-lock_1_minus: "\e9d7";
$icon-lock_1-1: "\e9d8";
$icon-lock_2: "\e9d9";
$icon-love_1: "\e9da";
$icon-love_1_half: "\e9db";
$icon-love_1_no: "\e9dc";
$icon-lucky_7: "\e9dd";
$icon-magnet: "\e9de";
$icon-mail_1: "\e9df";
$icon-mail_1_empty: "\e9e0";
$icon-mail_2: "\e9e1";
$icon-mail_2_empty: "\e9e2";
$icon-mail_tag: "\e9e3";
$icon-map: "\e9e4";
$icon-map_add: "\e9e5";
$icon-map_minus: "\e9e6";
$icon-math_1: "\e9e7";
$icon-math_2: "\e9e8";
$icon-math_3: "\e9e9";
$icon-memo: "\e9ea";
$icon-menu_1: "\e9eb";
$icon-menu_2: "\e9ec";
$icon-menu_3: "\e9ed";
$icon-message_1: "\e9ee";
$icon-message_1_accept: "\e9ef";
$icon-message_1_dots: "\e9f0";
$icon-message_1_exp: "\e9f1";
$icon-message_1_question: "\e9f2";
$icon-message_1-1: "\e9f3";
$icon-message_2: "\e9f4";
$icon-message_2_accept: "\e9f5";
$icon-message_2_add: "\e9f6";
$icon-message_2_dots: "\e9f7";
$icon-message_2_exp: "\e9f8";
$icon-message_2_exp-1: "\e9f9";
$icon-message_2_minus: "\e9fa";
$icon-message_2_question: "\e9fb";
$icon-message_2-1: "\e9fc";
$icon-message_3: "\e9fd";
$icon-message_3_accept: "\e9fe";
$icon-message_3_dots: "\e9ff";
$icon-message_3_exp: "\ea00";
$icon-message_3_question: "\ea01";
$icon-message_3-1: "\ea02";
$icon-message_open_1: "\ea03";
$icon-message_open_2: "\ea04";
$icon-message_open_3: "\ea05";
$icon-messaging: "\ea06";
$icon-mic: "\ea07";
$icon-mic_no: "\ea08";
$icon-mini_arrow_2: "\ea09";
$icon-mini_arrow_90: "\ea0a";
$icon-mini_arrow_back: "\ea0b";
$icon-mini_arrow_shack: "\ea0c";
$icon-mini_dots: "\ea0d";
$icon-mini_exp: "\ea0e";
$icon-mini_faster: "\ea0f";
$icon-mini_info: "\ea10";
$icon-mini_minmize: "\ea11";
$icon-mini_minus: "\ea12";
$icon-mini_next: "\ea13";
$icon-mini_pause: "\ea14";
$icon-mini_pen: "\ea15";
$icon-mini_play: "\ea16";
$icon-mini_plus: "\ea17";
$icon-mini_question: "\ea18";
$icon-mini_record: "\ea19";
$icon-mini_search: "\ea1a";
$icon-mini_stop: "\ea1b";
$icon-mini_uplize: "\ea1c";
$icon-mini_x_1: "\ea1d";
$icon-mini_x_2: "\ea1e";
$icon-minus_simple: "\ea1f";
$icon-money_1: "\ea20";
$icon-money_sq: "\ea21";
$icon-monitor: "\ea22";
$icon-monitor_add: "\ea23";
$icon-monitor_minus: "\ea24";
$icon-moon_1: "\ea25";
$icon-moon_2: "\ea26";
$icon-moon_3: "\ea27";
$icon-moon_4: "\ea28";
$icon-mouse_1: "\ea29";
$icon-mouse_2: "\ea2a";
$icon-mouse_2_click: "\ea2b";
$icon-move_1: "\ea2c";
$icon-move_2: "\ea2d";
$icon-move_3: "\ea2e";
$icon-music_1: "\ea2f";
$icon-music_1_add: "\ea30";
$icon-music_1_minus: "\ea31";
$icon-music_2: "\ea32";
$icon-news: "\ea33";
$icon-news_2: "\ea34";
$icon-news_2_add: "\ea35";
$icon-news_2_minus: "\ea36";
$icon-next_cr: "\ea37";
$icon-next_sq: "\ea38";
$icon-no_1: "\ea39";
$icon-no_2: "\ea3a";
$icon-no_3: "\ea3b";
$icon-no_cr: "\ea3c";
$icon-no_cr-1: "\ea3d";
$icon-no_sq: "\ea3e";
$icon-notification: "\ea3f";
$icon-notification_no: "\ea40";
$icon-paint_1: "\ea41";
$icon-paint_2: "\ea42";
$icon-paint_brush: "\ea43";
$icon-pants_1: "\ea44";
$icon-pants_2: "\ea45";
$icon-paper_1: "\ea46";
$icon-paper_1_add: "\ea47";
$icon-paper_1_minus: "\ea48";
$icon-paper_1_pinned: "\ea49";
$icon-paper_1_text: "\ea4a";
$icon-paper_2: "\ea4b";
$icon-paper_2_minus: "\ea4c";
$icon-paper_2_plus: "\ea4d";
$icon-paper_3: "\ea4e";
$icon-paper_3_add: "\ea4f";
$icon-paper_3_exp: "\ea50";
$icon-paper_3_minus: "\ea51";
$icon-paper_specs: "\ea52";
$icon-pause_cr: "\ea53";
$icon-pause_sq: "\ea54";
$icon-pc_1: "\ea55";
$icon-pc_2: "\ea56";
$icon-pen_1: "\ea57";
$icon-pen_2: "\ea58";
$icon-pen_2_minus: "\ea59";
$icon-pen_2_plus: "\ea5a";
$icon-phone: "\ea5b";
$icon-phone_no: "\ea5c";
$icon-pic_1: "\ea5d";
$icon-pic_1_add: "\ea5e";
$icon-pic_1_minus: "\ea5f";
$icon-pic_2: "\ea60";
$icon-pic_big_1: "\ea61";
$icon-pic_big_2: "\ea62";
$icon-pic_big_3: "\ea63";
$icon-pic_big_4: "\ea64";
$icon-pic_folder: "\ea65";
$icon-pic_stand_1: "\ea66";
$icon-pic_stand_2: "\ea67";
$icon-pikes: "\ea68";
$icon-pin: "\ea69";
$icon-pin_add: "\ea6a";
$icon-pin_minus: "\ea6b";
$icon-pinned_1: "\ea6c";
$icon-pinned_2: "\ea6d";
$icon-pinned_3: "\ea6e";
$icon-pizza: "\ea6f";
$icon-plane: "\ea70";
$icon-play_cr: "\ea71";
$icon-play_sq: "\ea72";
$icon-play_video: "\ea73";
$icon-plus_simple_1: "\ea74";
$icon-power: "\ea75";
$icon-print: "\ea76";
$icon-prize_1: "\ea77";
$icon-prize_2: "\ea78";
$icon-prize_3: "\ea79";
$icon-prize_5: "\ea7a";
$icon-processor_1: "\ea7b";
$icon-processor_2: "\ea7c";
$icon-profile_badge_1: "\ea7d";
$icon-profile_badge_2: "\ea7e";
$icon-profile_card: "\ea7f";
$icon-profile_close_1: "\ea80";
$icon-profile_close_1_minus: "\ea81";
$icon-profile_close_2: "\ea82";
$icon-profile_close_3: "\ea83";
$icon-profile_close_add: "\ea84";
$icon-profile_cr: "\ea85";
$icon-profile_cr_add: "\ea86";
$icon-profile_cr_minus: "\ea87";
$icon-profile_sq: "\ea88";
$icon-profile_sq_add: "\ea89";
$icon-profile_sq_minus: "\ea8a";
$icon-profiles_1: "\ea8b";
$icon-profiles_1_add: "\ea8c";
$icon-profiles_1_minus: "\ea8d";
$icon-profiles_2: "\ea8e";
$icon-profiles_2_add: "\ea8f";
$icon-profiles_2_minus: "\ea90";
$icon-puzzle: "\ea91";
$icon-question_cr: "\ea92";
$icon-rain: "\ea93";
$icon-ram: "\ea94";
$icon-rec_cr: "\ea95";
$icon-rec_sq: "\ea96";
$icon-refresh_1: "\ea97";
$icon-refresh_2: "\ea98";
$icon-refresh_3: "\ea99";
$icon-remove_sq: "\ea9a";
$icon-save_1: "\ea9b";
$icon-save_1_add: "\ea9c";
$icon-save_1_minus: "\ea9d";
$icon-save_2: "\ea9e";
$icon-scale_1: "\ea9f";
$icon-scale_1_down: "\eaa0";
$icon-scale_1_up: "\eaa1";
$icon-search_1: "\eaa2";
$icon-search_2: "\eaa3";
$icon-selection_1: "\eaa4";
$icon-selection_2: "\eaa5";
$icon-selection_3: "\eaa6";
$icon-selection_b_1: "\eaa7";
$icon-selection_b_2: "\eaa8";
$icon-selection_b_3: "\eaa9";
$icon-selection_b_4: "\eaaa";
$icon-settings_1: "\eaab";
$icon-settings_2: "\eaac";
$icon-settings_sq: "\eaad";
$icon-Shape-581: "\eaae";
$icon-Shape-581-1: "\eaaf";
$icon-Shape-581-2: "\eab0";
$icon-Shape-582: "\eab1";
$icon-share_1: "\eab2";
$icon-share_1_sq: "\eab3";
$icon-share_2_d_sq: "\eab4";
$icon-share_2_u_sq: "\eab5";
$icon-share_arrows: "\eab6";
$icon-share_chain_1: "\eab7";
$icon-share_chain_2: "\eab8";
$icon-share_chain_3: "\eab9";
$icon-share_chain_4: "\eaba";
$icon-share_chain_5: "\eabb";
$icon-share_chain_6: "\eabc";
$icon-shield: "\eabd";
$icon-shield_accept: "\eabe";
$icon-shield_no: "\eabf";
$icon-ship: "\eac0";
$icon-shirt_1: "\eac1";
$icon-shirt_2: "\eac2";
$icon-shop_1: "\eac3";
$icon-shop_2: "\eac4";
$icon-shos: "\eac5";
$icon-site: "\eac6";
$icon-site_text: "\eac7";
$icon-sleep_2: "\eac8";
$icon-smartphone: "\eac9";
$icon-smartphone_add: "\eaca";
$icon-smartphone_minus: "\eacb";
$icon-smile_empers: "\eacc";
$icon-smile_happy_1: "\eacd";
$icon-smile_happy_2: "\eace";
$icon-smile_happy_3: "\eacf";
$icon-smile_meh: "\ead0";
$icon-smile_meh_2: "\ead1";
$icon-smile_meh_3: "\ead2";
$icon-smile_sad_1: "\ead3";
$icon-smile_sad_2: "\ead4";
$icon-smile_sad_3: "\ead5";
$icon-smile_sad_4: "\ead6";
$icon-snow: "\ead7";
$icon-sock: "\ead8";
$icon-sound_1: "\ead9";
$icon-sound_2: "\eada";
$icon-sound_3: "\eadb";
$icon-sound_no: "\eadc";
$icon-speaker_1: "\eadd";
$icon-speaker_2: "\eade";
$icon-star_1: "\eadf";
$icon-star_1_half: "\eae0";
$icon-star_1_no: "\eae1";
$icon-star_2: "\eae2";
$icon-stop_cr: "\eae3";
$icon-stop_sq: "\eae4";
$icon-sun_1: "\eae5";
$icon-sun_2: "\eae6";
$icon-sun_3: "\eae7";
$icon-sun_4: "\eae8";
$icon-sword: "\eae9";
$icon-table: "\eaea";
$icon-tablet: "\eaeb";
$icon-tablet_add: "\eaec";
$icon-tablet_minus: "\eaed";
$icon-tarch_5: "\eaee";
$icon-tea_1: "\eaef";
$icon-temperature_1: "\eaf0";
$icon-temperature_2: "\eaf1";
$icon-tes_2: "\eaf2";
$icon-tes_3: "\eaf3";
$icon-tes_4: "\eaf4";
$icon-text: "\eaf5";
$icon-thumb: "\eaf6";
$icon-tiles: "\eaf7";
$icon-time_1: "\eaf8";
$icon-time_1_add: "\eaf9";
$icon-time_1_exp: "\eafa";
$icon-time_1_minus: "\eafb";
$icon-time_2: "\eafc";
$icon-train_1: "\eafd";
$icon-train_2: "\eafe";
$icon-underpants_1: "\eaff";
$icon-underpants_2: "\eb00";
$icon-upload_1: "\eb01";
$icon-video_1: "\eb02";
$icon-video_2: "\eb03";
$icon-video_clip: "\eb04";
$icon-vine: "\eb05";
$icon-wallet: "\eb06";
$icon-wind: "\eb07";
$icon-world_1: "\eb08";
$icon-world_2: "\eb09";
$icon-world_3: "\eb0a";
$icon-X_simple_1: "\eb0b";
$icon-X_simple_2: "\eb0c";
$icon-zoom_1: "\eb0d";
$icon-zoom_2: "\eb0e";
$icon-zoom_out_1: "\eb0f";
$icon-zoom_out_2: "\eb10";

