.container_fluid_custom{
	max-width: 1330px;
}
html,
body {
  height: 100%;
  background: #f8f8f8;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.w1{
	flex: 1 0 auto;
	padding-bottom: 30px;
	@include media-breakpoint-down(md){
		padding-top: 80px;
	}
}
.pseudo_select{
	.btn:not(:disabled):not(.disabled):active,
	.btn:not(:disabled):not(.disabled).active,
	.show > .btn.dropdown-toggle{
		background: none !important;
		border: 1px solid #ededed;
	}
	.show > .btn.dropdown-toggle{
		.ico{
			transform:translateY(-50%) rotate(-90deg);
		}
	}
	.dropdown-toggle,.dropdown-item{
		width: 100%;
		height: 70px;
		text-align: left;
		display: flex;
		background: none;
		align-items:center;
		border-radius: 0;
		border: 1px solid #ededed;
		padding: 0 40px 0 20px;
		@include media-breakpoint-down(md){
			height: 90px;
		}
		.img_prev{
			margin-right: 10px;
			@include media-breakpoint-down(md){
				margin-right: 20px;
			}
		}
		&:before{
			content: '';
			width: 1px;
			height: 100%;
			background: #ededed;
			right: 41px;
			top: 0;
			position: absolute;
		}
		.ico{
			color: #424951;
			position: absolute;
			top: 50%;
			right: 15px;
			transform:translateY(-50%) rotate(90deg);
		}
		&:after{
			content: none;
		}
		strong{
			font-weight: bold;
			font-size: 14px;
			line-height: 16px;
			color: #424951;
			display: block;
			@include media-breakpoint-down(md){
				font-size: 18px;
				line-height: 20px;
			}
		}
		em{
			font-style: normal;
			color: #909ba1;
			font-weight: 500;
			display: block;
			@include media-breakpoint-down(md){
				font-size: 14px;
			}
		}

	}
	span.dropdown-toggle{
		cursor: default !important;
		&:before,&:after{
			content: none;
		}
		.ico {
			display: none;
		}
	}
	.dropdown-item{
		border: 0;
		border-bottom: 1px solid #ededed;
		&:after,&:before{content: none;}
		&:hover{
			background: #f8f8f8;
		}
	}
	.dropdown-menu{
		padding: 0;
		margin: 0;
		border-radius: 0;
		border: 1px solid #ededed;
		width: 100%;
		border-top: 0;
		border-bottom: 0;
	}
}
.form-control{
	border: 1px solid #ccd2dc;
	border-radius: 4px;
	color: #424951;
	font-weight: 500;
	@include media-breakpoint-down(sm){
		// height: 40px;
		// line-height: 38px;
		font-size: 18px;
		line-height: 20px;
		padding-top: 11px;
		padding-bottom: 8px;
	}
}
.help_text{
	display: block;
	color: #909ba1;
	font-style: italic;
	padding-top: 8px;
	font-size: 12px;
	a{
		color: #26bcf1;
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
	i{
		font-style: italic;
	}
	@include media-breakpoint-down(sm){
		font-size: 14px;
	}
	+ span.help_text{
		padding-top: 0;
	}
}
span.help_text{
	font-style: normal;
	display: block;
	i{
		font-style: normal;
	}
}

.btn_big{
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 14px;
	font-weight: 500;
	span{
		@include media-breakpoint-down(md){
			font-size: 18px;
		}
	}
	span,i{
		display: inline-block;
		vertical-align: middle;
	}
	i{
		font-size: 16px;
		margin-left: 9px;
		@include media-breakpoint-down(md){
			font-size: 20px;
		}
	}
}
.error_massage{
	color: #e25757;
	display: block;
	text-align: center;
	padding-bottom: 10px;
	@include media-breakpoint-down(sm){
		font-size: 14px;
	}
}
.color_green{
	color: #50c46f !important;
}
.color_red{
	color: #e25757 !important;
}
.grid_system{
	> [class *= "col-"]{
		margin-bottom: 30px;
	}
	.box_item{
		height: 100%;
		margin-bottom: 0;
	}
}
.alert_message{
	max-width: 50%;
	text-align: right;
}
.btn_row{
	font-size: 0;
	a{
		padding: 0 17px;
		background: #ccd2dc;
		color: #fff;
		border-radius: 4px;
		font-weight: 500;
		font-size: 14px;
		margin: 0 5px;
		&:hover,&.active,&:active,&:focus{
			background: #26bcf1;
			box-shadow: none;
		}
	}
	@include media-breakpoint-down(md){
		a{
			font-size: 18px;
		}
	}
}
.box_item_title{
	.btn_row{
		padding-left: 30px;
	}
}
.holder_i_group{
	padding-bottom: 15px;
}
.overflow{
	@include media-breakpoint-down(md) {
		overflow: hidden !important;
	}
}
.box_item_wrap2{
	padding: 0 34px 35px;
	.btn{
		height: 40px;
		display: flex;
		justify-content:center;
		align-items:center;
		font-size: 14px;
		font-weight: 500;
		color: #4c4c4c;
		&:hover{
			color: #fff;
		}
	}
	@include media-breakpoint-down(sm) {
		.btn{
			height: 60px;
			font-size: 18px;
			&:hover{
				opacity: .9;
			}
			&.btn-outline-custom_green{
				background:#50c46f;
				border-color: #50c46f;
				color: #fff;
			}
			&.btn-outline-custom_red2{
				background:#e25757;
				border-color: #e25757;
				color: #fff;
			}
		}
	}
}
.list_i{
	display: table;
	padding: 20px 0 10px 12px;
	margin: 0;
	list-style: none;
	li{
		display: table-row;
		color: #909ba1;
		strong{color: #424951; font-weight: 500; padding-left: 20px;}
		span,strong{
			display: table-cell;
		}
	}
	@include media-breakpoint-down(sm){
		font-size: 14px;
		padding-left: 0;
	}
}
.input-group{
	.bg_none{
		span{
			background: none !important;
			border-left: 0 !important;
			color: #909ba1;
		}
	}
}
.input-group_c{
	margin-top: 10px;
	input{
		border-right-color: transparent;
		border-left: 3px solid #ccd2dc;
	}
	.input-group-prepend{
		span{
			background: #f8f8f8 !important;
			color: #424951;
			width: 65px;
			padding-right: 4px;
		}
	}
}
.box_item_content{
	height: calc(100% - 60px);
}
.color_blue{
	color: #26bcf1 !important;
}
.text_content{
	padding: 40px 100px 30px;
	.img-100{
		width: 100%;
		display: block;
		height: auto;
	}
	h2{
		margin: 26px 0 0 0;
		font-size: 14px;
		font-weight: bold;
		color: #424951;
	}
	p{
		margin: 0;
		font-size: 12px;
		line-height: 14px;
		color: #909ba1;
		padding-top: 14px;
		a{
			color: #26bcf1;
			text-decoration: underline;
			font-weight: 500;
			&:hover{
				text-decoration: none;
			}
		}
	}
	@include media-breakpoint-down(sm){
		padding: 30px 20px 30px;
		p{
			font-size: 14px;
			line-height: 17px;
			padding-top: 17px;
		}
	}
}
.manual_btn{
	font-size: 14px;
	font-weight: 500;
	padding: 0 10px;
}
.custom_checkbox{
	&.form-group{
		padding-left: 14px;
		@media screen and (max-width: 400px){
			padding-left: 0;
		}
	}
	[type="checkbox"]:not(:checked),
	[type="checkbox"]:checked {
	  position: absolute;
	  left: -9999px;
	}
	[type="checkbox"]:not(:checked) + label,
	[type="checkbox"]:checked + label {
	  position: relative;
	  padding-left: 26px;
	  cursor: pointer;
	  color: #909ba1;
	  a{
			text-decoration: underline;
			color: #26bcf1;
			&:hover{
				text-decoration: none;
			}
		}
		@include media-breakpoint-down(sm){
			font-size: 14px;
		}
	}

	/* checkbox aspect */
	[type="checkbox"]:not(:checked) + label:before,
	[type="checkbox"]:checked + label:before {
	  content: '';
	  position: absolute;
	  left: 0; top: 0;
	  width: 16px;
	  height: 16px;
	  border: 2px solid #4c4c4c;
	  background: #fff;
	  border-radius: 2px;
	  @include media-breakpoint-down(sm){
	  	width: 20px;
	  	height: 20px;
	  }
	}
	/* checked mark aspect */
	[type="checkbox"]:not(:checked) + label:after,
	[type="checkbox"]:checked + label:after {
	  content: "\e900";
	  position: absolute;
	  top:4px;
	  left: 3px;
	  font-size: 9px;
	  line-height: 0.8;
	  color: #4c4c4c;
	  transition: all .2s;
	  font-weight: bold;
	  font-family: 'custom_icon_font' !important;
	  @include media-breakpoint-down(sm){
	  	font-size: 10px;
	  	left: 5px;
	  	top: 5px;
	  }
	}
	/* checked mark aspect changes */
	[type="checkbox"]:not(:checked) + label:after {
	  opacity: 0;
	  transform: scale(0);
	}
	[type="checkbox"]:checked + label:after {
	  opacity: 1;
	  transform: scale(1);
	}
	/* disabled checkbox */
	[type="checkbox"]:disabled:not(:checked) + label:before,
	[type="checkbox"]:disabled:checked + label:before {
	  box-shadow: none;
	  border-color: #bbb;
	  background-color: #ddd;
	}
	[type="checkbox"]:disabled:checked + label:after {
	  color: #999;
	}
	[type="checkbox"]:disabled + label {
	  color: #aaa;
	}
}

.switch {
	position: relative;
	display: inline-block;
	width: 42px;
	height: 22px;
	margin-left: 15px !important;
	padding: 0 !important;
	input {
		display:none;
		&:checked{
			+ .slider{
				background-color: #26bcf1;
				&:before{
					transform: translateX(16px);
					@include media-breakpoint-down(sm){
						transform: translateX(33px);
					}
				}
			}
		}
		&:focus{
			+ .slider{
				box-shadow: 0 0 1px #2196F3;
			}
		}
	}
	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ccc;
		-webkit-transition: .4s;
		transition: .4s;
		&:before{
			position: absolute;
			content: "";
			height: 18px;
			width: 18px;
			left: 4px;
			bottom: 2px;
			background-color: white;
			-webkit-transition: .4s;
			transition: .4s;
			@include media-breakpoint-down(sm){
				width: 32px;
				height: 32px;
				bottom: 4px;
			}
		}
		&.round{
			border-radius: 10px;
			@include media-breakpoint-down(sm){
				border-radius: 18px;
			}
			&:before{
				border-radius: 50%;
			}
		}
	}
	@include media-breakpoint-down(sm) {
		width: 74px;
		height: 40px;
	}
}
.custom_select{
	position: relative;
	&:after{
		content: "\ea0c";
		font-size: 12px;
		 font-family: 'custom_icon_font' !important;
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		position: absolute;
		top: 50%;
		right: 15px;
		color: #424951;
		transform:translateY(-50%) rotate(90deg);
	}
	select{
		padding-left: 10px;
		background:#fff;
		cursor: pointer;
		&:focus{
			box-shadow: none;
			border-color: #ced4da;
		}
	}
	@include media-breakpoint-down(sm) {
		select{
			height: 40px;
			font-size: 18px;
		}
	}
}